IMAGE_REGISTRY=ghcr.io/asrip/projet-api-groupe4
IMAGE_TAG=v1.0.0
APP_REPLICAS=3
PUBLIC_HTTP_PORT=80
PUBLIC_HTTPS_PORT=8443
MINIO_CONSOLE_PUBLIC_PORT=9001
LETSENCRYPT_DIR=/etc/letsencrypt

CORS_ORIGIN=https://change_me:8443
NEXT_PUBLIC_API_URL=/api
MINIO_PUBLIC_URL=https://change_me:8443/minio
MINIO_SERVER_URL=http://minio:9000
MINIO_BROWSER_REDIRECT_URL=https://change_me:9001
MINIO_BUCKET=breezy-media
MINIO_ROOT_USER=change_me_minio_user
MINIO_ROOT_PASSWORD=change_me_minio_password

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=change_me_auth_password
AUTH_POSTGRES_DB=auth_db

USER_POSTGRES_USER=user_user
USER_POSTGRES_PASSWORD=change_me_user_password
USER_POSTGRES_DB=user_db

FOLLOW_POSTGRES_USER=follow_user
FOLLOW_POSTGRES_PASSWORD=change_me_follow_password
FOLLOW_POSTGRES_DB=follow_db

PROFILE_MONGO_DB=profile_db
POST_MONGO_DB=post_db
INTERACTION_MONGO_DB=interaction_db
NOTIFICATION_MONGO_DB=notification_db
MEDIA_MONGO_DB=media_db
