PORT=3005
NODE_ENV=development
SERVICE_NAME=media-service

# MongoDB
MONGO_URI=mongodb://localhost:27017/media_db

# MinIO — "localhost" en local, "minio" dans Docker
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=breezy-media

# URL publique d'accès aux fichiers (affiché dans le navigateur)
MINIO_PUBLIC_URL=http://localhost:9000
