PORT=3007
SERVICE_NAME=interaction-service
MONGO_URI=mongodb://localhost:27020/interaction_db
POST_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3008
PROFILE_SERVICE_URL=http://localhost:3006
DEBUG_ALLOW_SELF_LIKE_NOTIFICATIONS=true
