PORT=3001

DATABASE_URL="postgresql://auth_user:auth_password@localhost:5433/auth_db?schema=public"

JWT_ACCESS_SECRET="test_dev_access"
JWT_REFRESH_SECRET="test_dev_refresh"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

NODE_ENV="development"